

html, body {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
  background-color: #fff6e5;
}

.whiteboard {
  height: 500;
  width: 300;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.colors {
  position: fixed;
  margin-top: 20px;
  margin-left: 15px;
}

.color {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
.color.orange { background-color: orange; }
.color.brown { background-color: brown; }
.color.pink { background-color: pink; }
.color.purple { background-color: purple; }
.color.lightblue {background-color: lightblue; }

